/* RESET RULES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

a {
	color: currentColor;
	text-decoration: none;
}

/* all body */
header{
  background-color: rgb(59, 59, 254);
}

.special{
  flex-direction: column;
  text-align: center;
}

.img{
  width: 90%;
}

.col {
  padding-top: 100px;
  line-height: 30px;
  width: 100%;
}

.col-33 {
  width: calc(100% / 3);
}

.col-66 {
  width: calc((100% / 3) * 2);
}

.col-16 {
  width: calc(100%/6) ;
}
.col-100{
  width: 100%;
}
.titolo{
  font-size:35px;
  padding-bottom: 15px;
}

.testo{
  font-size: 14px;
}

.small{
  max-height: 11px;
  background-color: black;
}


/* header */

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
}

.link-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: white;
}

.nav,
.nav-footer {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.space-between {
  max-width: 900px;
  width: 100%;
  padding: 10px;
}

/* section 1 */

.section-1 {
  display: flex;
  justify-content: center;
  height: 450px;
  background-image:url(./img/jumbo.png);
  background-size: cover;
}

.margin-p{
  margin: 30px;
  
  
}
.display-1 {
  width: 80%;
  padding: 30px;
}

.download{
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* section 2 - 4 */

.section-2,
.section-4 {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.display-2 {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

/* section 3 - 6*/

.section-3,
.section-6 {
  display: flex;
  justify-content: center;
}
.section-6{
  padding: 50px;
}
.border{
  width: 100%;
  border-bottom: 1px solid rgb(113, 140, 210);
  padding-bottom: 10px;
}

.section-5{
  height: 1000px;
}

/* section 5 */

.section-5 {
  display: flex;
  justify-content: center;
  height: 950px;
}

.buttons{
  border-radius: 20px;
  padding: 10px;
}

.white{
  background-color: white;
}

.black{
  background-color: black;
  color: white;
}

.font-w{
  color: white;
}

.violet{
  background-color: rgb(113, 140, 210);
  color: white;
}
.title-v{
  color: rgb(113, 140, 210);
}

footer{
  background-color: rgb(49, 48, 48);
}

h2{
  padding-bottom: 50px;
}

h3{
  color: rgb(113, 140, 210);
}

.big-h{
  min-height: 500px;
}

ul{
  list-style-type: none;
  color: white;
}
/* Debug
header {
  background-color: aquamarine;
}
section {
  border: 2px dashed black;
}
.nav {
  background-color: aquamarine;
  border: 1px dashed black;
}
.space-between {
  background-color: rgb(245, 199, 35);
  border: 2px dashed black;
}
.section-1 {
  background-color: blue;
}
.section-2 {
  background-color: white;
}
.display-1 {
  background-color: pink;
}
.container {
  border: 1px dashed black;
}
.col {
  border: 1px dashed black;
}
.col-33 {
  background-color: pink;
  border: 1px dashed black;
}
.col-66 {
  background-color: aqua;
  border: 1px dashed black;
}
.section-3,
.section-5 {
  background-color: gray;
}
.green-debug {
  background-color: green;
}

.col-16 {
  background-color: rgb(59, 239, 215);
  border: 1px dashed black;
}
.nav-footer,
.section-6 {
  background-color: rgb(56, 55, 55);
} */
